body {
    overflow-x: hidden;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 60%;     
    height: auto;
    display: block;
}

@media (max-width: 768px) {
main {
    display: block;
    }

.hero-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: top;
        display: block;
        max-width: 100%;
    }
}

.diagonal-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 150vw;
  height: 150vh;
  background-color: white;
  z-index: 9999;
  transform: translate(100%, 100%) rotate(-45deg);
  animation: diagonalMove 0.8s ease forwards;
  pointer-events: none;
}

@keyframes diagonalMove {
  0% {
    transform: translate(100%, 100%) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, -100%) rotate(-45deg);
    opacity: 0;
  }
}



